// Colors
$white: #fff;
$black: #000;
$blue-black: #1f1534;
$blue-black-opacity: #1f153480;
$black-light: #7d7987;
$accent-1: #4089ed;
$accent-2: #458ff6;
$accent-3: #5b9bf3;
$shadow-color: #e5e9f666;

// Fonts
$text: 1.3rem;
$text-small: 1.125rem;
$heading-1: 3rem;
$heading-common: 2.25rem;
$heading-small: 1.5rem;
$heading-very-small: 1.25rem;

// Spacing and Widths
$gap-common: 1.56rem;
$content-width: 1280px;

// Responsive
$content-width-laptop: 850px;
